.app-header {
  text-align: center;
  color: #d61f1f;
  font-size: 32px;
  margin-bottom: 20px;
}

.workouts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */

.day-workout-container {
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.day-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.exercise-container {
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.exercise-container:last-child {
  border-bottom: none;
}

.exercise-container h3 {
  color: #d61f1f;
}

.exercise-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-name {
  font-size: 20px;
  margin-top: 0;
}

.exercise-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 5px solid #d61f1f;
}

.info-container {
  width: 100%;
}

.info-container p {
  margin: 5px 0;
}

.instruction-list {
  padding-left: 20px;
}

.instruction-list li {
  list-style-type: decimal;
  margin-bottom: 5px;
}

.complete-button {
  background-color: #d61f1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.complete-button:hover {
  background-color: #8b0000;
}

.completed-message {
  color: #32cd32;
  font-weight: bold;
}
